<div class="modal" id="show-modal-window_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title text-danger">SUCCESS</h1>
        </div>
        <div class="modal-body">
          <p>Your vote is successfully recorded!!! Thank you for spending your valuable time with us...</p>
        </div>
        <div class="modal-footer">
         <%= link_to 'OK', root_path, class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>
