<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to our site, <%= @email %></h1>

    <p>
      To vote for new category login to the site,  link: <%= link_to 'login now',new_user_session_url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
